@font-face {

    font-family: 'MyFont';

    
    src: url('../fonts/ALover.ttf') format('truetype');
    
    
    font-weight: normal;
    
    font-style: normal;
    
}

html { 
    height: 100%; 
    font-family: 'MyFont';
    font-size: 16px;
    line-height: 1.5;
}

.header {
    background: #0b182b;
    height: 100%;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header_logo {
    background: #0b182b;
}

.header_titel {
    font-size: 56px;
    margin-bottom: 40px;
}

.header_slogan {
    font-size: 28px;
    line-height: 42px;   
}

.reservation {
    background: #0b182b;
    padding-top: 30px;
    height: 100%;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    
}

.row_reserv1 {
    margin-bottom: 40px;
}
.row_reserv2 {
    margin-bottom: 40px;
}



.button  {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    text-align: left;
    display: inline-block;

    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    border-radius: 50px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;

    margin-bottom: 20px;

}

.button:hover {
    color: #0b182b;
    background-color: #fff;

}


.service__form {
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 -1px 6px 0 rgba(29, 126, 236, 0.39);
    background-color: #117acf;
    justify-content: center;
}

.input_phone_number {
    width: 400px;
    height: 44px;
    border-radius: 3px;
    border: solid 1px #ccc9c2;
    background-color: #fffcf5;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.input_name {
    width: 400px;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #1c9e47;
}

.number_startTime {
    width: 400px;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #159da1;
}

.number_day {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.number_hours {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.number_minutes {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.slide_durationReserved {
    width: 400px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #cfa311;
}
.sliderDuration {
    -webkit-appearance: none;
    width: 300 px;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderDuration::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slisliderDurationder::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slide_numberGuests {
    width: 400px;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #cf114a;
}

.input_comment {
    width: 400px;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #bfdd3a;
}

.button_reserved {
    width: 400px;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #b3b8bd;
}

.button_new {
    width: 110px;
    height: 44px;
    border-radius: 3px;
    border: solid 1px #ccc9c2;
    background-image: linear-gradient(to bottom, #fffcf6, #edebe5);
    margin-bottom: 10px;
}

footer {
    background: #9aabc5;
}
